<!DOCTYPE html>
<html lang="zh-tw">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>台大所有的在地行程-旅人幫</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static "css/reset.css" %}">
	<link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body>
	<div class="header">
		<a href="{% url "home" %}">
			<img class="logo" src="{% static "images/logo.png" %}">
		</a>
		<a class="logo-text" href="{% url "home" %}">
			<h1>旅人幫</h1>
		</a>
		<div id="login-register">
			<h1 class="login">註冊</h1>
			<h1 class="login">登入</h1>
		</div>
	</div>
	<div class="select">
		<div class="choose" id="area">
			<h1 id="choose">請選擇地區</h1>
			<li class="category">台北
				<ul>
					<li>新竹</li>
					<li>台中</li>
					<li>台南</li>
					<li>高雄</li>
				</ul>
			</li>
		</div>
		<div class="choose" id="school">
			<h1 id="choose">學校</h1>
			<li class="category">台大
				<ul>
					<li>政大</li>
					<li>師大</li>
					<li>台科大</li>
					<li>輔大</li>
					<li>銘傳</li>
				</ul>
			</li>
		</div>
		<div class="choose" id="product">
			<h1 id="choose">商品類別</h1>
			<li class="category">請選擇
				<ul>
					<li>所有商品</li>
					<li>半日 / 一日遊</li>
					<li>戶外活動</li>
					<li>美食</li>
					<li>表演活動</li>
					<li>歷史文化</li>
				</ul>
			</li>
		</div>
		<div>
			<h1 id="choose">行程類別</h1>
			<li class="tourcategory">文化藝術</li>
			<li class="tourcategory">半日／一日遊</li>
			<li class="tourcategory">觀光行程</li>
			<li class="tourcategory">體驗／學習課程</li>
			<li class="tourcategory">美食購物</li>
			<li class="tourcategory">戶外活動</li>
			<li class="tourcategory">自然景觀</li>
		</div>
	</div>
	<div class="tour">
		<div class="intro">
			<h1>100項體驗行程 - - 台北 , 台大</h1>
		</div>
		<div class="rank">
			<li id="rank">排序 熱門度高到低
				<ul>
					<li>價格：高 到 低</li>
					<li>價格：低 到 高</li>
					<li>熱門度高到低</li>
				</ul>
			</li>
		</div>
		{% for p in post %}
		<a href="{% url "trip" %}" class="tourlink">
			<div class="tourlist">
				<img class="tourp" src="{% static "images/0001.jpg" %}">
				<div class="tourtitle">
					[台大真實體驗營]腳踏車繞校園＋小木屋鬆餅＋台大鮮奶
				</div>
				<div class="tourplace">
					<img class="tourplacep" src="{% static "images/place.png" %}">
					<h1>台大</h1>
				</div>
				<div class="tourhour">
					<img class="tourplacep" src="{% static "images/clock.png" %}">
					<h1>3小時</h1>
				</div>
				<div class="price">
					<h1 id="dollar">NTD</h1>
					<h1 id="price">1000</h1>
				</div>
				<div class="tag">
					<span id="tag">熱門</span>
					<span id="tag">推薦</span>
				</div>
			</div>
		</a>
		<div class="space"></div>
		{% endfor %}
	</div>
</body>
</html>
