<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/reset.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <title>台大真實體驗營</title>
</head>
<script>
    var id;
    $(document).ready(function(){
        $("div.content-btn").hover(
            function(){
                $(this).css("background", "#444444");
                $(this).css("color", "#ffffff");
            }
        );
        $("div.content-btn").click(function(){
            id = this.id;
            if (id === "commentContent")
                btnCommentClick();
            else {
                btnTourClick();
            }
        });
    });
    function btnCommentClick(){
        $("div.tour-site").css("display", "none");
        $("div.comment").css("display", "block");
        $("#tourContent").css("background", "#ffffff");
        $("#tourContent").css("color", "#000000");
        $("#commentContent").css("color", "#ffffff");
        $("#commentContent").css("background", "#444444");
    }
    function btnTourClick(){
        $("div.tour-site").css("display", "block");
        $("div.comment").css("display", "none");
        $("#commentContent").css("background", "#ffffff");
        $("#commentContent").css("color", "#000000");
        $("#tourContent").css("color", "#ffffff");
        $("#tourContent").css("background", "#444444");
    }
</script>
<body>
    <div class="nav">
        <a href="{% url "home" %}"><img class="logo" src="{% static "images/logo.png" %}"></a>
        <li class="logo-name">旅人幫</li>
        <li class="option">註冊</li>
        <li class="option">登入</li>
    </div>
    <div class="cover"></div>
    <div class="container">
        <div class="left-container">
            <div class="upper-container">
                <div class="upper-left">
                    <div class="guide-info">
                        <a href="{% url "guide" %}">
                            <div class="guide-left">
                                <img class=" double-border" src="{% static "images/profile.jpg" %}">
                            </div>
                        </a>
                        <div class="guide-right">
                            <div class="guide-name">
                                <h1>郭大槌</h1>
                                <img src="{% static "images/icon-sex.png" %}">
                            </div>
                            <div class="guide-star">
                                <img src="{% static "images/starbox.png" %}">
                            </div>
                        </div>
                    </div>
                    <div class="description">
                        <div class="d-title">行程簡介</div>
                        <div class="d-content">
                            本館館藏書刊資料，以配合校內師生教學研究學習之需要為主，舉凡文、理
                            、法、醫、工、農、管理、公共衛生、電機、社會各領域之圖書、期刊、小
                            冊子、視聽資料等均予收藏，為國內收藏資料量最多的圖書館。<br><br>
                            此外，本館收藏中外文古籍善本資料逾五萬件，厥為國內各大學之最，如淡新
                            檔案、明版線裝書、琉球歷代寶案、西洋搖籃期刊本等均至為珍貴。另外，
                            臺灣史文獻、東南亞研究等資料，及日治時代之日文文獻亦相當豐富。<br>
                        </div>
                    </div>
                    <div class="tour-star">
                        <img src="{% static "images/starbox.png" %}">
                        <h1>行程評價</h1>
                    </div>
                </div>
            </div>
            <div class="lower-container">
                <div class="tour-content">
                    <div class="content-btn" onmouseout="" id="tourContent">行程內容</div>
                    <div class="content-btn" onmouseout="" id="commentContent">評論</div>
                    <div class="tour-site">
                        <div class="site-left">
                            <div class="site-name">
                                <p>小木屋鬆餅</p>
                                <img class="double-border" src="{% static "images/site1.jpg" %}">
                            </div>
                        </div>
                        <div class="site-right">
                            <div class="tag">
                                <a href="">#下午茶</a>
                                <a href="">#美食</a>
                            </div>
                            <div class="t-content">
                                台大校園的小木屋鬆餅不論是平日還是假日都很多人排隊，最主要
                                是便宜又好吃<br><br>
                                口味眾多也吸引許多外來遊客前往朝聖，假日也常見到一家大小或
                                是情侶攜手前往校園散步遊玩，然後人手一份鬆餅坐在樹下品嚐。
                                如果有台大相關證件還能有折扣呢！<br>
                            </div>
                        </div>
                    </div>
                    <div class="tour-site">
                        <div class="site-left">
                            <div class="site-name">
                                <p>大一女舍</p>
                                <img class="double-border" src="{% static "images/site3.jpg" %}">
                            </div>
                        </div>
                        <div class="site-right">
                            <div class="tag">
                                <a href="">#約會</a>
                                <a href="">#美食</a>
                                <a href="">#美眉</a>
                                <a href="">#休息</a>
                            </div>
                            <div class="t-content">
                                美食廣場，<br>
                                女生宿舍。<br>
                            </div>
                        </div>
                    </div>
                    <div class="tour-site">
                        <div class="site-left">
                            <div class="site-name">
                                <p>社科院圖書館</p>
                                <img class="double-border" src="{% static "images/site2.jpg" %}">
                            </div>
                        </div>
                        <div class="site-right">
                            <div class="tag">
                                <a href="">#文藝</a>
                                <a href="">#建築</a>
                                <a href="">#休息</a>
                            </div>
                            <div class="t-content">
                                本院新大樓由日本知名建築家，2012年普立茲克建築獎
                                (Pritzker Architecture Prize)得主伊東豐雄(Toyo ITO)建
                                築師設計，並獲得2013年第35屆臺灣建築佳作獎的榮譽。<br><br>
                                圖書館位於大樓B1F至2F中央樓層，使用樓板面積4,645 m²
                                (約1,405坪)，其中最富設計精髓的1F開架閱覽室，為一處長寬各
                                約50公尺的通透、挑高近6米的空間，由88支樹狀柱結構屋頂夾雜
                                130座形狀不一的天窗，配合竹集成材做為書架及閱覽家具，晝間
                                陽光從天窗撒下，營造出置身於林蔭間閱讀的氛圍，森林般的閱覽
                                室，藏著知識的森林，重新讓讀者拾回閱讀的靜思，開闊的空間也
                                蘊含培養社會科學學者廣大視野的期待。 <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comment double-border">
                <div class="comment-box">
                    <div class="guest">
                        <div class="guest-info">
                            <img src="{% static "images/guest1.jpg" %}">
                            <p>David</p>
                        </div>
                    </div>
                    <div class="guest-comment">
                        這些行程都是台大生才知道的私房景點，推薦！
                    </div>
                </div>
                <div class="divider"></div>
                <div class="comment-box">
                    <div class="guest">
                        <div class="guest-info">
                            <img src="{% static "images/guest2.jpg" %}">
                            <p>瑤瑤</p>
                        </div>
                    </div>
                    <div class="guest-comment">
                        還行啊！<br>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="comment-box">
                    <div class="guest">
                        <div class="guest-info">
                            <img src="{% static "images/guest3.jpg" %}">
                            <p>翰伸</p>
                        </div>
                    </div>
                    <div class="guest-comment">
                        怎麼沒有籃球場？<br>
                        怎麼沒有籃球場？<br>
                        怎麼沒有籃球場？<br>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-container">
            <div class="book-box">
                <div class="box-row">
                    <div class="box-upper-left">
                        <h1>使用日</h1>
                    </div>
                    <div class="box-upper-right">
                        <div class="calendar-btn">
                            選擇使用日期
                        </div>
                    </div>
                </div>
                <div class="box-row">
                    <div class="box-upper-left">
                        <h1>總金額</h1>
                    </div>
                    <div class="box-upper-right">
                        <h1>1,500 TWD</h1>
                    </div>
                </div>
                <div class="box-row">
                    <div class="submit-btn">
                        立刻訂購
                    </div>
                </div>
            </div>
            <div class="add-like">
                <div class="add-btn">
                    加入我的收藏
                </div>
            </div>
        </div>
    </div>

</body>
</html>
